<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chocolate</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="bloc_page">
		<header>
			<div class="header_top_part">
				<div th:insert="menu.html"></div>
			</div>
			<div class="header_bottom_part">
				<h1>AJOUTER DES ROLES</h1>
			</div>
		</header>
		<div class="page_formulaire">
			<div class="container-fluid pt-3">
				<form th:action="@{/addRole}" th:object="${role}" method="post"
					class="formulaire" name="formulaire">

					<div class="col-lg-8 form-group">
						<input type="hidden" id="id" class="form-control" th:field="*{id}">
					</div>


					<div class="col-lg-8 form-group">
						<label>NOM</label> <input type="text" id="nameRole"
							class="form-control" th:field="*{name}">
						<div class="element_danger">
							<div id="errorNameRole"></div>
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						</div>
					</div>

					<div class="col-lg-8 form-group">
						<button type="submit" class="btn btn-primary btn-block mt-3">ajouter
							un role</button>
					</div>
					<div class="col-lg-8 form-group">
						<button type="button" class="btn btn-primary"
							onclick="validateAddRole()">Test JS</button>
					</div>

				</form>
			</div>
		</div>
		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>