<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Les Amis de L'escalade</title>

<link rel="stylesheet" href="style.css">
</head>
<body>

	<div class="bloc_page">
		<header>
			<div class="header_top_part">
				<div th:insert="menu.html"></div>
			</div>
			<div class="header_bottom_part">
				<h1>AJOUTER UN SITE D'ESCALADE</h1>
			</div>
		</header>
		<div class="page_formulaire">
			<div class="container-fluid pt-3">
				<form th:action="@{/ajouterDesSitesDEscalade}"
					th:object="${climbingSite}" method="post" class="formulaire"
					name="formulaire">

					<div class="col-lg-8 form-group">
						<input type="hidden" id="id" class="form-control" th:field="*{id}">
					</div>

					<div class="col-lg-8 form-group">
						<label for="title">TITRE</label> <input th:field="*{title}"
							type="text" class="form_label" id="titleSiteEscalade"
							name="title" placeholder="Obligatoire">
						<div class="element_danger">
							<div id="errorTitleSiteEscalade"></div>
							<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
						</div>
					</div>

					<div class="col-lg-8 form-group">
						<label for="lieu">LIEU</label> <input th:field="*{lieu}"
							type="text" class="form_label" id="lieuSiteEscalade" name="lieu"
							placeholder="Obligatoire">
						<div class="element_danger">
							<div id="errorLieuSiteEscalade"></div>
							<div th:if="${#fields.hasErrors('lieu')}" th:errors="*{lieu}"></div>
						</div>
					</div>

					<div class="col-lg-8 form-group">
						<label for="secteur">SECTEUR</label> <input th:field="*{secteur}"
							type="text" class="form_label" id="secteurSiteEscalade"
							name="secteur" placeholder="Obligatoire">
						<div class="element_danger">
							<div id="errorSecteurSiteEscalade"></div>
							<div th:if="${#fields.hasErrors('secteur')}"
								th:errors="*{secteur}"></div>
						</div>
					</div>

					<div class="col-lg-8 form-group">
						<label for="longueur">LONGUEUR</label> <input
							th:field="*{longueur}" type="text" class="form_label"
							id="longueurSiteEscalade" name="longueur" placeholder="1-100">
						<div class="element_danger">
							<div id="errorLongueurSiteEscalade"></div>
							<div th:if="${#fields.hasErrors('longueur')}"
								th:errors="*{longueur}"></div>
						</div>
					</div>


					<div class="col-lg-8 form-group">
						<label for="nombreDeVoies">NOMBRE DE VOIES</label> <input
							th:field="*{nombreDeVoies}" type="text" class="form_label"
							id="nombreDeVoiesSiteEscalade" name="nombreDeVoies"
							placeholder="1-10">
						<div class="element_danger">
							<div id="errorNombreDeVoiesSiteEscalade"></div>
							<div th:if="${#fields.hasErrors('nombreDeVoies')}"
								th:errors="*{nombreDeVoies}"></div>
						</div>
					</div>

					<div class="col-lg-8 form-group">
						DIFFICULTE <select th:field="*{difficulty}">
							<option th:value="3a">3a</option>
							<option th:value="3b">3b</option>
							<option th:value="3c">3c</option>
							<option th:value="4a">4a</option>
							<option th:value="4b">4b</option>
							<option th:value="4c">4c</option>
							<option th:value="5a">5a</option>
							<option th:value="5b">5b</option>
							<option th:value="5c">5c</option>
							<option th:value="6a">6a</option>
							<option th:value="6b">6b</option>
							<option th:value="6c">6c</option>
							<option th:value="7a">7a</option>
							<option th:value="7b">7b</option>
							<option th:value="7c">7c</option>
							<option th:value="8a">8a</option>
							<option th:value="8b">8b</option>
							<option th:value="8c">8c</option>
							<option th:value="9a">9a</option>
							<option th:value="9b">9b</option>
							<option th:value="9c">9c</option>

						</select>
					</div>

					<div sec:authorize="hasAnyRole('ADMIN', 'MEMBRE')" class="col-lg-8 form-group">
						<div class="tag">
							OFFICIEL DE L'ASSOCIATION :
							<p>
								<input type="radio" name="tagged" value="true" checked="checked"
									th:field="*{tagged}">Oui <input type="radio"
									name="tagged" value="false">Non
							</p>
						</div>
					</div>

					<div class="col-lg-8 form-group">
						<button type="submit" class="btn btn-primary" id="btn_form_submit" onclick="validateClimbingSite()">Soumettre</button>
					</div>
					<div class="col-lg-8 form-group">
						<button type="button" class="btn btn-primary" id="btn_form_test"
							onclick="validateClimbingSite()">TESTING JS</button>
					</div>
				</form>
			</div>
		</div>
		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>