<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Les Amis de L'escalade</title>

<link rel="stylesheet" href="style.css">
</head>
<body>

	<div class="bloc_page">
		<header>
			<div class="header_top_part">
				<div th:insert="menu.html"></div>
			</div>
			<div class="header_bottom_part">
				<h1>AJOUTER UNE IMAGE AU SITE DESCALADE :</h1>
				<h1 th:text="${climbingSite.title}"></h1>
			</div>
		</header>
		<div class="page_formulaire">
			<div class="container-fluid pt-3">
				<form th:action="@{/ajouterUneImageAuSiteDescalade}" method="post"
					class="formulaire" name="formulaire" enctype="multipart/form-data">

					
					<div class="col-lg-8 form-group">
						<label>Image : </label>
						<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg">
					</div>
					
					
					
					
					
					
					<!-- <div class="col-lg-8 form-group">
						<input type="file" name="file" class="custom-file-input"
							id="customFile"> <label class="custom-file-label"
							for="customFile">Image</label>
						<div class="element_danger">
							<div id="errorImageSiteEscalade"></div>
						</div>
					</div> -->

					<!-- 		<script>
						// Add the following code if you want the name of the file appear on select
						$(".custom-file-input").on(
								"change",
								function() {
									var fileName = $(this).val().split("\\")
											.pop();
									$(this).siblings(".custom-file-label")
											.addClass("selected")
											.html(fileName);
								});
					</script> -->

					<div class="col-lg-8 form-group">
						<button type="submit" class="btn btn-primary" id="btn_form_submit">Soumettre</button>
					</div>
					<div class="col-lg-8 form-group">
						<button type="button" class="btn_form_test" id="btn_form_test"
							onclick="validateImage()">TESTING JS</button>
					</div>
				</form>
			</div>
		</div>
		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>