<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Les Amis de L'escalade</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="bloc_page">
		<header>
			<div class="header_top_part">
				<div th:insert="menu.html"></div>
			</div>
			<div class="header_bottom_part">
				<h1>QUI SOMMES NOUS?</h1>
			</div>

		</header>
		<div class=presentation_association_page>

			<article>
				<div class=image_group>
					<img src="\imagesAndLogos\images\groupPicture.jpg"
						alt="groupPicture.jpg">
				</div>
				<div>
					<p>
						A la base tout part d'un groupe d'amis qui aiment faire de
						l'escalade ensemble. Puis, de plus en plus de monde nous a
						rejoint.<br> L'idée de créer une association a alors tout
						naturellement fait son chemin. Nous nous efforçons depuis lors, de
						fournir la meilleure expérience possible en nous améliorant
						constamment.
					</p>
					<p>
						Nous proposons des itinéraires détaillés d'escalade, en extérieur,
						mais pas seulement! Nous vous proposons aussi de grimper dans
						notre salle de Katzenheim, ainsi que des stages d'escalade pour
						les adultes comme pour les enfants.<br> Vous pourrez
						progresser en toute sécurité encadré par nos moniteurs diplômés.
					</p>
					<p>
						Si vous souhaitez organiser un stage de team-building pour votre
						entreprise, stage scolaire, enterrement de vie de garçon/vie de
						jeune fille...<br> N'hésitez pas à nous contacter car nous
						proposons également des stages sur mesures.<br> <a
							href="/contact">Contactez-Nous!</a>

					</p>
				</div>
			</article>

		</div>
		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>