<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Les Amis de L'escalade</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="bloc_page">
		<header>
			<div class="header_top_part">
				<div th:insert="menu.html"></div>
			</div>
			<div class="header_bottom_part">
				<h1>LISTE DES TOPOS DISPONIBLES</h1>
			</div>
		</header>
		<div class="row" id="blocPageTopoList" th:each="topo:${topos}">
		
			<div class="col-sm-4" ></div>
			<div class="col-sm-4" id=descriptionTopoList>
			
				<div class="float-right" th:if="${topo.freeForBorrow == true}">
						<a>
							<img class="img-fluid" alt="topo disponible"
							src="/imagesAndLogos/logos/logoTopoDispo.png">
						</a>
					</div>
					 
					<div class="float-right" th:if="${topo.freeForBorrow == false}">
							<img class="img-fluid" alt="topo disponible"
							src="/imagesAndLogos/logos/logoTopoIndispo.png">
					</div>
				<h3 th:text="${topo.title}">TITRE</h3>
				<div th:text="${topo.content}">DESCRIPTION</div>
			
			</div>
			<div class="col-sm-4" ><a class="btn btn-primary" th:href="'mailto:' + ${topo.ownerMail}">Faire une demande d'emprunt</a></div>
			
			
		</div>
		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>