<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Les Amis de L'escalade</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="bloc_page">
		<header>
			<div class="header_top_part">
				<div th:insert="menu.html"></div>
			</div>
			<div class="header_bottom_part">
				<h1>LISTE DES TOPOS DISPONIBLES</h1>
			</div>
		</header>

		<table class="col-md-6 table">
			<thead class="table top">
				<tr>
					<th>ID</th>
					<th>TITRE</th>
					<th>DESCRIPTION</th>
					<th>DISPONIBLE A L'EMPRUNT</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="topo:${topos}">
					<td th:text="${topo.id}"></td>
					<td th:text="${topo.title}"></td>
					<td th:text="${topo.content}"></td>
					<!-- <td th:text="${topo.freeForBorrow}"></td> -->
					<td th:if="${topo.freeForBorrow == true}">
						<a>
							<img class="img-fluid" alt="topo disponible"
							src="/imagesAndLogos/logos/logoTopoDispo.png">
						</a>
					</td>
					<!-- <td><a th:href="'mailto:' + ${topo.ownerMail}">Faire une demande d'emprunt</a></td> -->
					<td th:if="${topo.freeForBorrow == false}">
						<a>
							<img class="img-fluid" alt="topo disponible"
							src="/imagesAndLogos/logos/logoTopoIndispo.png">
						</a>
					</td>
					<!-- 					<td><a
						onclick="return confirm('êtes vous sur de vouloir supprimer?')"
						th:href="@{deleteUser(id=${user.id})}"> Supprimer</a></td>
					<td><a th:href="@{editUserByIdWhenAdmin(id=${user.id})}">
							Modifier</a></td> -->
				</tr>
			</tbody>
		</table>
		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>