<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="bloc_page">
		<header>
			<div class="header_top_part">
				<div th:insert="menu.html"></div>
			</div>
			<div class="header_bottom_part">
				<h1>TOUS LES SITES D'ESCALADE</h1>
			</div>
		</header>

		<form class="form-inline" th:action="@{/listeDesSitesDEscalade}"
			method="get">
			<label>Filtrer:</label> <input id="txtSearch" type="text"
				name="keyword" th:value=${keyword} class="form-control"
				placeholder="Lieu, Secteur, Longueur, Difficulté, Nombre de voies">
			<button type="submit" class="btn btn-primary">Chercher</button>
		</form>

		<div class="row" id="blocPageClimbingSiteList"
			th:each="climbingSite:${climbingSites}">
			<div th:if="${climbingSite.image == null}" class="col-sm-4">
				<img class="img-fluid" alt="image of climbing site"
					src="imagesAndLogos/images/success.jpg">
			</div> 
			
			<div th:if="${climbingSite.image != null}" class="col-sm-4">
				<img class="img-fluid" alt="image of climbing site"
					th:src="*{'data:image/png;base64,'+{climbingSite.image}}">
					<!-- th:src="*{'data:image/jpeg;base64,'+{product.image}}" -->
					
			</div> 
			
			
			
			
			<div class="col-sm-4" id="descriptionClimbingSiteList">
				<div class="titleAndTagged">
					<h3 th:text="${climbingSite.title}"></h3>
					<div class="float-right" th:if=${climbingSite.tagged}>
						<img class="img-fluid" alt="officiel des amis de l'escalade"
							src="/imagesAndLogos/logos/logoOfficielDesAmisDeLEscalade.png">
					</div>
				</div>
				<div>
					LIEU : <a th:text="${climbingSite.lieu}"></a>
				</div>
				<div>
					SECTEUR : <a th:text="${climbingSite.secteur}"></a>
				</div>
				<div>
					LONGUEUR : <a th:text="${climbingSite.longueur}"></a>
				</div>
				<div>
					NOMBRE DE VOIES : <a th:text="${climbingSite.nombreDeVoies}"></a>
				</div>
				<div>
					DIFFICULTEE : <a th:text="${climbingSite.difficulty}"></a>
				</div>
			</div>
			<div class="col-sm-4">
				<div>
					<a class="btn btn-info btn-lg"
						th:href="@{listeDesCommentaires(id=${climbingSite.id})}">
						Liste des Commentaire</a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<a class="btn btn-warning btn-lg"
						th:href="@{ajouterUneImageAuSiteDescalade(id=${climbingSite.id})}"> Modifier l'image de ce site d'escalade</a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<a class="btn btn-warning btn-lg"
						th:href="@{editClimbingSite(id=${climbingSite.id})}"> Modifier</a>
				</div>
				
				<div sec:authorize="hasRole('ADMIN')">
					<a class="btn btn-dark btn-lg" id="buttonSuppressionClimbingSite"
						th:href="@{deleteClimbingSite(id=${climbingSite.id})}"
						onclick="return confirm('êtes vous sur de vouloir supprimer?')">Supprimer</a>
				</div>

			</div>
		</div>







		<!-- 		<div class="row">
			<div th:each="climbingSite:${climbingSites}">
				<div class="col-sm-6">
					<img alt="image of climbing site"
						src="imagesAndLogos/images/success.jpg">
				</div>
				<div class="col-sm-6">
					<div th:text="${climbingSite.title}">TITRE</div>
					<div th:if=${climbingSite.tagged}>
						<img alt="officiel des amis de l'escalade"
							src="/imagesAndLogos/logos/logoOfficielDesAmisDeLEscalade.png">
					</div>
					<div th:text="${climbingSite.lieu}">LIEU</div>
					<div th:text="${climbingSite.secteur}">SECTEUR</div>
					<div th:text="${climbingSite.longueur}">LONGUEUR</div>
					<div th:text="${climbingSite.nombreDeVoies}">NOMBRE DE VOIES</div>
					<div th:text="${climbingSite.difficulty}">DIFFICULTEE</div>
				</div>
			</div>
		</div> -->

		<!-- 		<table class="table">
			<thead class="table top">
				<tr>
					<th>ID</th>
					<th></th>
					<th>TITRE</th>
					<th>LIEU</th>
					<th>IMAGE</th>
					<th>SECTEUR</th>
					<th>LONGUEUR</th>
					<th>NOMBRE DE VOIES</th>
					<th>DIFFICULTE</th>
					<th>TAG</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="climbingSite:${climbingSites}">
					<td><img alt="image of climbing site" src="imagesAndLogos/images/success.jpg"></td>
					<td>
						<object ="/imagesAndLogos/images/success.jpg" type="image/jpg">
							<img alt="image of climbing site" th:src="@{/image/${climbingSite.image}}">
						</object>
					</td>
					<td th:text="${climbingSite.id}"></td>
					<td th:text="${climbingSite.title}"></td>
					<td th:text="${climbingSite.lieu}"></td>
					<td th:text="${climbingSite.secteur}"></td>
					<td th:text="${climbingSite.longueur}"></td>
					<td th:text="${climbingSite.nombreDeVoies}"></td>
					<td th:text="${climbingSite.difficulty}"></td>
					<td th:if=${climbingSite.tagged}><img
						alt="officiel des amis de l'escalade"
						src="/imagesAndLogos/logos/logoOfficielDesAmisDeLEscalade.png">
					</td>
					<td><a
						onclick="return confirm('êtes vous sur de vouloir supprimer?')"
						th:href="@{deleteClimbingSite(id=${climbingSite.id})}">
							Supprimer</a></td>
					<td><a
						th:href="@{editClimbingSite(id=${climbingSite.id})}">
							Modifier</a>
					</td>
			</tbody>
		</table> -->




		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>