<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
<script type="text/javascript" th:src="@{/js/myScript.js}"></script>
</head>
<body>
	<header>
		<div class="header_top_part">
			<div th:insert="menu.html"></div>
		</div>
		<div class="header_bottom_part">
			<h1>MON COMPTE</h1>

			<table class="table">
				<thead class="table top">
					<tr>
						<th>ID</th>
						<th>NOM</th>
						<th>PRENOM</th>
						<th>ADRESSE</th>
						<th>TELEPHONE</th>
						<th>EMAIL</th>
						<th>ROLE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${curentuser.id}"></td>
						<td th:text="${curentuser.nom}"></td>
						<td th:text="${curentuser.prenom}"></td>
						<td th:text="${curentuser.adresse}"></td>
						<td th:text="${curentuser.telephone}"></td>
						<td th:text="${curentuser.email}"></td>
						<td th:text="${principal.authorities}"></td>
						<td><a th:href="@{editUser}">Modifier</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</header>
	<div class="page_formulaire">

		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>