<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="bloc_page">
		<header>
			<div class="header_top_part">
				<div th:insert="menu.html"></div>
			</div>
			<div class="header_bottom_part">
				<h1>MON COMPTE</h1>
			</div>
		</header>


		<div class="d-flex flex-column align-items-center"  id="blocPageMonCompte">

			<div class="p-2 border" id="MonCompteInfos">
				<h2>Mes informations générales</h2>
				<div>
					NOM : <a th:text="${curentuser.nom}"></a>
				</div>
				<div>
					PRENOM : <a th:text="${curentuser.prenom}"></a>
				</div>
				<div>
					ADRESSE : <a th:text="${curentuser.adresse}"></a>
				</div>
				<div>
					TELEPHONE : <a th:text="${curentuser.telephone}"></a>
				</div>
				<div>
					EMAIL : <a th:text="${curentuser.email}"></a>
				</div>
				<div sec:authorize="hasRole('ADMIN')">
					MES AUTORISATIONS : <a th:text="${principal.authorities}"></a>
				</div>
				<div>
					 <a class="btn btn-warning" th:href="@{editUser}">Modifier mes informations</a>
				</div>
			</div>


			<div class="p-2 border" id="MonCompteMesTopos">
				<h2>Mes Topos</h2>
				
				<div>
					 <a class="btn btn-primary" th:href="@{ajouterUnTopo}">Ajouter un topo</a>
				</div>
				
				<div id ="UnTopoMonCompte" th:each="topo,custStat:${topos}">
				
					<div class="float-right" th:if="${topo.freeForBorrow == true}">
						<a> <img class="img-fluid" alt="topo disponible"
							src="/imagesAndLogos/logos/logoTopoDispo.png">
						</a>
					</div>
					<div class="float-right" th:if="${topo.freeForBorrow == false}">
						<a> <img class="img-fluid" alt="topo disponible"
							src="/imagesAndLogos/logos/logoTopoIndispo.png">
						</a>
					</div>
				
					<h3>
						 <a th:text="${topo.title}"></a>
					</h3>
					<div>
						DESCRIPTION <a th:text="${topo.content}"></a>
					</div>
					
					<div>
						<a class="btn btn-warning"th:href="@{editTopo(id=${topo.id})}">Modifier</a>
					</div>
					<div>
						<a class="btn btn-dark" id="buttonSuppressionTopo" th:href="@{deleteTopo(custStat=${custStat.index},id=${topo.id})}">Supprimer</a>
					</div>

				</div>
				
			</div>
		</div>

	<footer>
		<div th:insert="footer.html"></div>
	</footer>
	</div>
</body>
</html>